<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="disqord" value="https://www.myget.org/F/disqord/api/v3/index.json" />
    <add key="qmmands" value="https://www.myget.org/F/quahu/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="disqord">
      <package pattern="Disqord.*" />
    </packageSource>
	<packageSource key="qmmands">
      <package pattern="Qmmands" />
    </packageSource>
  </packageSourceMapping>
</configuration>
